.catalog__title{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}